<footer class="bg-light font-small blue pt-0 fixed-bottom">
    <hr class="my-0 py-0"/>

    <div class="row justify-content-center">
        <!-- Impressum -->
        <div class="col col-auto text-center py-1 px-3 text-muted ">
            <a href="impressum"
               class="text-muted"
               style="text-decoration: underline">Impressum</a>
        </div>

        <!-- break on small displays -->
        <div class="d-lg-none w-100"></div>

        <!-- Icon Reference -->
        <div class="col col-auto text-center py-1 px-3 text-muted">
            <i class="fab fa-creative-commons"></i>
            <i class="fab fa-creative-commons-by"></i>
            Icons by
            <a href="https://fontawesome.com/license"
               class="text-muted"
               style="text-decoration: underline">Font Awsome</a>
            (CC BY 4.0, changes made)
        </div>

        <!-- Copyright -->
        <div class="col col-auto text-center py-1 px-3 text-muted ">
            <i class="far fa-copyright"></i> 2020 Copyright by
            <a href="https://github.com/AlexanderJenke/MatScan"
               class="text-muted"
               style="text-decoration: underline">Alexander Jenke</a>
        </div>
    </div>
</footer>
