<link rel="stylesheet" href="/css/scan.css">

<div class="row" style="position: relative;">
    <div class="col-3 text-center">
        <strong>Von</strong>
        <select class="custom-select my-1 mr-sm-2 shadow" id="inlineFormCustomSelectPref">
            <option selected value="1">Apotheke</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <strong>&nbsp;</strong>
    </div>
    <div class="col text-center arrow"></div>
    <div class="col-3 text-center">
        <strong>Nach</strong>
        <select class="custom-select my-1 mr-sm-2 shadow" id="inlineFormCustomSelectPref">
            <option selected value="1">Umlauf</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <strong>&nbsp;</strong>
    </div>
</div>

<div class="cart container-lg bg-light rounded-lg shadow align-strech border px-0 mx-0">
    <div class="cart searchbar input-group p-2">
        <input class="form-control" type="search" placeholder="Hinzufügen..." aria-label="search">
        <div class="input-group-append">
            <button class="cart searchbar btn btn-outline-success" type="button"><i class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="cart align-stretch table table-striped table-responsive overflow-auto mb-0">
        <table class="table bg-light mb-0">
            <col width="10">
            <col width="1000">
            <col width="0">
            <col width="0">
            <col width="0">
            <col width="10">
            <thead class="">
            <tr>
                <th scope="col"></th>
                <th scope="col" style="min-width: 288px;">Name</th>
                <th scope="col">Exp.</th>
                <th scope="col">Anzahl</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            {% for data in rows %}
            <tr id="{{data['id']}}">
                <td>
                </td>
                <td id="{{data['id']}}_name">
                    {{data['name']}}
                </td>
                <td id="{{data['id']}}_date">
                    <button class="btn btn-transparent btn-outline-secondary"
                            onclick="alert('{{data['id']}} change date :O ')"
                            style="width: 88px">
                        {{data['exp']}}
                    </button>
                </td>
                <td class="input-group" style="width: 200px">
                    <button class="btn btn-transparent btn-outline-secondary input-group-prepend"
                            id="{{data['id']}}_dec"
                            onclick="alert('{{data['id']}} decrease me :O ')">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="text" maxlength="5" class="input-group-text bg-transparent border-secondary mx-2"
                           style="width: 5em;" value="{{data['count']}}" id="{{data['id']}}_count"
                           onchange="alert('{{data['id']}} change me :O')"/>
                    <button class="btn btn-transparent btn-outline-secondary input-group-append"
                            id="{{data['id']}}_inc"
                            onclick="alert('{{data['id']}} increase me :O ')">
                        <i class="fas fa-plus"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-transparent btn-outline-danger"
                            onclick="alert('{{data['id']}} delete me :O ')">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
                <td>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="my-0 py-0"/>
    <div class="cart buttons row mx-2 my-2" role="group">
        <button type="button" class="cart btn btn-danger col-3"
                title="Alles wird Rückgängig gemacht.">
            <i class="fas fa-times d-sm-none d-block"></i>
            <b class="d-none d-sm-block">Abbrechen</b>
        </button>
        <div class="col"></div>
        <button type="button" class="cart btn btn-success col-3" title="Das aufgelistete Material wird umgelagert.">
            <i class="fas fa-check d-sm-none d-block"></i>
            <b class="d-none d-sm-block">Buchen</b>
        </button>
    </div>
</div>
