<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>MatScan - Scan</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<body class="bg-light">
<link rel="stylesheet" href="/css/fontawesome.min.css">
<script src="/js/popper.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% include 'navbar.html' %}
<main class="container-lg">
    <div class="container-lg pl-3 pr-5" id="alert_box" style="position: absolute; z-index: 9999;"></div>
    {% include main %}
</main>
{% include 'footer.html' %}
<script src="/js/poll.js"></script>
</body>
</html>